footer.sat-footer.mt-auto
  .container
    .row.align-items-center.py-4
      .col-md-4.text-center.text-md-start.mb-3.mb-md-0
        a.d-flex.align-items-center.text-decoration-none.justify-content-center.justify-content-md-start(href='/')
          i.bi.bi-water.me-2.text-white.fs-4
          span.fw-semibold.text-white Sea Air Towers
      .col-md-4.text-center.mb-3.mb-md-0
        p.mb-1.small.text-white-50 3725 S Ocean Dr, Hollywood, FL 33019
        a.small.text-white-50(href='http://www.seaairtowers.org/' target='_blank') seaairtowers.org
      .col-md-4.text-center.text-md-end
        a.text-white-50.me-3(href='/search-for-apartments')
          i.bi.bi-search
        a.text-white-50.me-3(href='/contact')
          i.bi.bi-envelope
        a.text-white-50(href='/mobile-app-shortcut')
          i.bi.bi-phone
