extends ../layout

block content
  .sat-page-header
    h2 #{title}

  .container.py-4
    .sat-card-static.p-4
      ul.list-group.list-group-flush
        each dayBooked in daysBooked
          li.list-group-item
            i.bi.bi-check-circle.text-success.me-2
            | #{dayBooked.toDateString()}