extends ../layout

block content
  .sat-page-header
    h2 #{title}

  .container.py-4
    .sat-card-static.p-4
      ul.list-group.list-group-flush
        each apartment in apartments
          a.list-group-item.list-group-item-action(href="/account/update-listing/" + apartment.apartmentNumber)
            i.bi.bi-building.me-2.text-ocean
            | Apartment #{apartment.apartmentNumber}