extends ../layout

block content
  .sat-page-header
    h2 #{title}

  .container.py-4
    .sat-card-static.p-4
      ul.list-group.list-group-flush
        each booking in bookings
          li.list-group-item
            i.bi.bi-x-circle.text-warning.me-2
            | #{booking.toDateString()}